# Aprofundamento pelo livro

In [1]:
import pandas as pd
import numpy as np

## Limpeza de dados - Valores ausentes

In [2]:
float_data = pd.Series([1.2, -3.5, np.nan, 0])
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

### DROPNA

In [3]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

data2 = data.dropna()
data3 = data.dropna(how='any') # configuração padrão
data4 = data.dropna(how='all')

print(f'{data} \n \n')
print(f'{data2} \n \n')
print(f'{data3} \n \n')
print(f'{data4} \n \n')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0


     0    1    2
0  1.0  6.5  3.0


     0    1    2
0  1.0  6.5  3.0


     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [4]:
data2 = pd.DataFrame([[1., 6.5, 3.], [1., '-', np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])

data2P = data2.replace('-', np.nan)

C:\Users\kevyn\AppData\Local\Temp\ipykernel_15200\2979535473.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data2P = data2.replace('-', np.nan)

In [5]:
data5 = data.dropna(thresh=2)
data5

     0    1    2
0  1.0  6.5  3.0
3  NaN  6.5  3.0

### FILLNA

In [6]:
df = pd.DataFrame(np.random.standard_normal((6, 3)))

df.iloc[2:, 1] = np.nan

df.iloc[4:, 2] = np.nan

df

dffill = df.fillna(method='ffill')
print(f'{dffill} \n \n')
print(f'{df} \n \n')

          0         1         2
0  1.192029  1.355520  1.169692
1 -0.151252 -1.750816  0.800067
2  0.282401 -1.750816  0.695233
3  0.922662 -1.750816  0.467829
4  0.542304 -1.750816  0.467829
5  0.098225 -1.750816  0.467829


          0         1         2
0  1.192029  1.355520  1.169692
1 -0.151252 -1.750816  0.800067
2  0.282401       NaN  0.695233
3  0.922662       NaN  0.467829
4  0.542304       NaN       NaN
5  0.098225       NaN       NaN

C:\Users\kevyn\AppData\Local\Temp\ipykernel_15200\3991453220.py:9: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dffill = df.fillna(method='ffill')

In [7]:
float_data1 = float_data.fillna(float_data.mean())
float_data2 = float_data.fillna(float_data.min())

float_data1

0    1.200000
1   -3.500000
2   -0.766667
3    0.000000
dtype: float64

## Limpeza de dados - Valores Duplicados

In [59]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                   "k2": [1, 1, 2, 3, 3, 4, 4]})
DataD = data.duplicated(subset=['k2'], keep='last')
DataDrop = data.drop_duplicates(subset=['k2'], keep='last')
DataDrop2 = data.drop_duplicates(subset=['k2'], keep='first')

print(f'{DataD} \n \n')
print(f'{data} \n \n')
print(f'{DataDrop} \n \n')
print(f'{DataDrop2} \n \n')

0     True
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool


    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4


    k1  k2
1  two   1
2  one   2
4  one   3
6  two   4


    k1  k2
0  one   1
2  one   2
3  two   3
5  two   4

## Limpeza de dados - Tipos de dados

In [102]:
dados = np.array([1, 2, 3, 4, 5])
dados2 = np.array([1, 2, 3, 4, 'a'])

print(f'{dados} \n \n')
dados2.astype('S')

[1 2 3 4 5]

array([b'1', b'2', b'3', b'4', b'a'], dtype='|S21')

In [119]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                          "pastrami", "corned beef", "bacon",
                            "pastrami", "honey ham", "nova lox"],
                    "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

animal = {
    'bacon': 'pig',
    "pulled pork": "pig",
    "pastrami": "cow",
    "corned beef": "cow",
    "honey ham": "pig",
    "nova lox": "salmon"
}

def maiuscula(str):
    return str.capitalize()

data['animal'] = data['food'].map(animal)
data['food'] = data['food'].map(maiuscula)
data

          food  ounces  animal
0        Bacon     4.0     pig
1  Pulled pork     3.0     pig
2        Bacon    12.0     pig
3     Pastrami     6.0     cow
4  Corned beef     7.5     cow
5        Bacon     8.0     pig
6     Pastrami     3.0     cow
7    Honey ham     5.0     pig
8     Nova lox     6.0  salmon

In [135]:
data = pd.Series([1., -999., 2., -999., -1000., 3.], dtype=int)

rep1 = data.replace(-999, np.nan)
rep2 = data.replace([-999, -1000], [np.nan, 0])
rep3 = data.replace({-999: np.nan, -1000: 500})

rep3

0      1.0
1      NaN
2      2.0
3      NaN
4    500.0
5      3.0
dtype: float64

In [155]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                 index=["Ohio", "Colorado", "New York"],
                 columns=["one", "two", "three", "four"])

dataR = data.rename(columns={"one": 'teste', "two": 'babidi'})

dataR

Index(['One', 'Two', 'Three', 'Four'], dtype='object')